In [1]:
%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost

In [2]:
%%sql

use 30days

 * mysql+mysqlconnector://root:***@localhost
0 rows affected.

[]

In [3]:
%%sql
CREATE TABLE transactions (
    txn_id   INT PRIMARY KEY,
    user_id  INT NOT NULL,
    txn_date DATE NOT NULL,
    status   VARCHAR(10) NOT NULL,
    amount   INT NOT NULL
);

 * mysql+mysqlconnector://root:***@localhost
0 rows affected.

[]

In [4]:
%%sql

INSERT INTO transactions (txn_id, user_id, txn_date, status, amount)
VALUES
(1, 301, '2024-01-01', 'FAILED',  500),
(2, 301, '2024-01-02', 'SUCCESS', 500),
(3, 301, '2024-01-10', 'FAILED',  200),
(4, 302, '2024-01-05', 'SUCCESS', 300),
(5, 303, '2024-01-07', 'FAILED',  150),
(6, 303, '2024-01-20', 'SUCCESS', 150),
(7, 304, '2024-01-08', 'FAILED',  400),
(8, 304, '2024-01-09', 'FAILED',  400),
(9, 305, '2024-01-03', 'SUCCESS', 250);

 * mysql+mysqlconnector://root:***@localhost
9 rows affected.

[]

In [5]:
%%sql

SELECT * FROM transactions
ORDER BY user_id, txn_date;

 * mysql+mysqlconnector://root:***@localhost
9 rows affected.

[(1, 301, datetime.date(2024, 1, 1), 'FAILED', 500),
 (2, 301, datetime.date(2024, 1, 2), 'SUCCESS', 500),
 (3, 301, datetime.date(2024, 1, 10), 'FAILED', 200),
 (4, 302, datetime.date(2024, 1, 5), 'SUCCESS', 300),
 (5, 303, datetime.date(2024, 1, 7), 'FAILED', 150),
 (6, 303, datetime.date(2024, 1, 20), 'SUCCESS', 150),
 (7, 304, datetime.date(2024, 1, 8), 'FAILED', 400),
 (8, 304, datetime.date(2024, 1, 9), 'FAILED', 400),
 (9, 305, datetime.date(2024, 1, 3), 'SUCCESS', 250)]

In [9]:
%%sql

select 
        user_id,
        status,
        lag(status) over(
        partition by user_id
        order by txn_date
    ) as past
from transactions

 * mysql+mysqlconnector://root:***@localhost
9 rows affected.

[(301, 'FAILED', None),
 (301, 'SUCCESS', 'FAILED'),
 (301, 'FAILED', 'SUCCESS'),
 (302, 'SUCCESS', None),
 (303, 'FAILED', None),
 (303, 'SUCCESS', 'FAILED'),
 (304, 'FAILED', None),
 (304, 'FAILED', 'FAILED'),
 (305, 'SUCCESS', None)]

In [8]:
%%sql

select distinct user_id
from (
    select *,
    lag(status) over(
        partition by user_id
        order by txn_date
    ) as past
from transactions 
) t where status = 'SUCCESS' and past = 'FAILED'

 * mysql+mysqlconnector://root:***@localhost
2 rows affected.

[(301,), (303,)]